.content-layout {
    display: block;
    position: relative;
    margin: 0 auto;
    background: #4D4D4D;
    padding-bottom: 1px;
    overflow: visible;
    /* font-size: .8125rem; */
    max-width: 64rem;
}

*,
 :after,
 :before {
    box-sizing: border-box;
}

user agent stylesheet main {
    display: block;
}

.sub-body {
    margin: 60px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Arial, Sans-Serif;
    background: #4D4D4D;
    padding: 3.375rem;
    background-image: url(https://lh4.googleusercontent.com/WiSaC8N6xsIv1KSH-kD6EIhwDmKMtciJbvDzv8PRbHVM7tYjbcojtHaREnwn27NN9chmzZa5_fkRnm_znnTtasikF2jyC6cLOBUqa9AVqq-19a_uQB4lTVBf99uYSWe63A=w1280);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

html {
    font-size: 100%;
    background: #262626;
    color: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

button,
html,
input,
select,
textarea {
    font-family: sans-serif;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.footer {
    -webkit-font-smoothing: antialiased;
    font-family: Arial, Sans-Serif;
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    color: #d8d8d8;
    background: #262626;
    overflow: hidden;
    font-size: 12px;
    margin: 30px;
}

.info {
    display: inline-block;
    float: left;
    margin: 10px;
}

.btn-default {
    -webkit-font-smoothing: antialiased;
    font-family: Arial, Sans-Serif;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    margin: 10px;
    padding: 5px;
    color: #d8d8d8;
    background: #4D4D4D;
    border: 1px #6D6D6D;
    overflow: hidden;
}