    .searchform {
        margin: 2rem;
    }
    
    .primary {
        background-color: #4D4D4D;
        padding: 1rem;
    }
    
    .image {
        text-align: center;
        vertical-align: middle;
        height: 2.7em;
        margin-right: 1rem;
        margin-bottom: 5px;
    }
    
    .episodes {
        display: none;
    }
    
    .serie {
        width: 100%;
        padding: 1rem;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start
    }
    
    .serie .title {
        background-color: #FA314A;
        font-size: 1.5rem;
    }
    
    .serie .poster {
        background-color: black;
        height: auto;
        width: auto;
    }
    
    .serie .description {
        color: #E3E2E2;
        background-color: #4D4D4D;
        width: 86.5%;
        display: flex;
        padding: 0.5rem;
    }
    
    .serie .plot {
        width: auto;
        height: 45%;
        padding: 0.5rem;
    }
    
    .serie .details {
        width: auto;
        padding-left: 0.5rem;
        background-color: gray;
        margin: 0.5rem;
    }